body {
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  display: flex;
  background: #88d5e9;
  color: #333;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.containner {
  text-align: center;
  padding: 2rem;
  border-radius: 7px;
  background: #fff;
  flex: 0 0 80%;
}

button {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 50px;
  color: #191919;
  background: rgb(253, 253, 253);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  outline: none;
  margin: 1rem auto;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
  background-color: #9272c2;
  color: white;
  border: none;
}

input[type="text"] {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  border: 3px solid pink;
  outline: none;
}

inout[type="text"]:focus {
  box-shadow: 0 0 10px #88d5e9;
}

#messageOut {
  margin: 0.5rem 0;
  color: #88d5e9;
}
